<h2>About Vimukta</h2>
<p>Vimukta was founded by the producers of the documentary film, <a href="http://dontbeatmesir.com">Please Don’t Beat Me, Sir!</a> as a means to give something back to India's <a href="http://en.wikipedia.org/wiki/Denotified_Tribes">Denotified and Nomadic Tribes (DNTs)</a>. Our name comes from the term <em>Vimukta Jati</em> which is another name for DNTs. It also means “free” or “liberated” in Hindi.</p>

<p>A registered 501(c)(3) charity organization, donations to Vimukta are tax-deductible in the United States.</p>

<h2>Contact</h2>

<p>For more information, please join our mailing list or email us.

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@vimukta.org">contact@vimukta.org</a>
  </li>
  <li class="main-list-item">
	  <div class="createsend-button" style="height:22px;display:inline-block;" data-listid="y/48/D96/9B3/050D50B5111069E7">
		  </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
	  </li>
</ul>

