<h2>About Vimukta</h2>
<p>Vimukta was founded by the producers of the documentary film, <a href="http://dontbeatmesir.com">Please Don’t Beat Me, Sir!</a> as a means to give something back to India's Denotified and Nomadic Tribes (DNTs) in India. Our name comes from the term Vimukta Jati which is another name for DNTs. It also means “free” or “liberated” in Hindi.</p>

<p>A registered 501(c)(3) charity organization, donations to Vimukta are tax-deductible in the United States.</p>

<h2>Contact</h2>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
